* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#piano {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
}
  
.key {
    width: 14.2857%;
    height: 200px;
    float: left;
    background: white;
    border: 1px solid black;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
}

.key:hover {
    background-color: black;
    color: white;
}

.pressed {
    background-color: black;
    color: white;
}